@model List<Product>

<h2>Product List</h2>

<h3>List View</h3>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.ID. @product.Name - @product.Price$ (@product.CreatedDate)</li>
    }
</ul>

<h3>Table View</h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Created Date</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.ID</td>
            <td>@product.Name</td>
            <td>@product.Price$</td>
            <td>@product.CreatedDate</td>
        </tr>
    }
</table>
